.country{
    border: 2px solid steelblue;
    margin: 15px;
    padding: 10px;
    border-radius: 15px;
}

.visited{
    background: beige;
    color: black;
}
.flag-container img {
    width: 50px;
}